.card{
    margin:31px;
    padding: 31px;
    min-width: 250px; /* Minimum width of the card */
    max-width: 400px; /* Maximum width of the card */
    width:auto;
}

.container-fluid {
    padding-left: 100px;
    padding-right: 0;
  }
  


